@page "/counter"
@*@inject PortfolioBlazor.Services.IAlphaVantage alphaVantage*@

<h1>Counter</h1>


@code {

    protected override async Task OnInitializedAsync()
    {
        //await alphaVantage.GetDailyData("IBM");
    }

}
